<a href="#/payments">Forex Spot <span class="label label-info">{{spotnotification}}</span></b> | <a href="#/paymentswap">Forex Swap <span class="label label-info">{{swapnotification}}</span></a> | <b>Forex Forward <span class="label label-info">{{forwardnotification}}</span></b>
<h3>FxSpot Payments</h3>
<div class="row">
        <div class="panel panel-default widget">
            
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="c in custpay">
                        <div class="row">
                            
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="">
                                        {{c.buysell}} {{c.ccypair}}
                                    </a>
                                    <div class="mic-info">
                                        <p>Near Buy Order amount: {{c.nearbuyorderamount | number:0}}</p>
                                        <p>Near Sell Order amount: {{c.nearbuyorderamount | number:0}}</p>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Deal Number : {{c.orderidfk}}
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Pay" ng-click="pay(c.offerid)">
                                        <span class="glyphicon glyphicon-pencil"></span> Pay
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </div>