<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                           <div id="jqxgrid"></div> 
                        </div>
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">History Notes</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body" style="max-height: 300px;overflow-y: scroll;">
				                  <!--<ul class="products-list product-list-in-box">
				                    <li class="item" ng-repeat="ord in confirmedoffers">
				                      <div class="product-img">
				                        <img src="plugins/dist/img/default-50x50.gif"/>
				                      </div>
				                      <div class="product-info">
				                        <span class="product-title">
				                          {{ord.usernamefk}} <span class="label label-warning pull-right">{{ord.orderamount | number}}</span>
				                        </span>
				                        <span class="product-description">
				                          {{ord.ccypair}}
				                        </span>
				                        <a href="#/settlement/{{ord.offerid}}" class="product-title">Settlement</a>
				                      </div>
				                    </li>
				                  </ul>-->
				                </div><!-- /.box-body -->
                                <!--<div class="box-footer text-center">
                                    <a href="#" class="uppercase">View All Orders</a>
                                </div> /.box-footer -->
                            </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var source =
            {
                 datatype: "json",
                 datafields: [
					 { name: 'CompanyName'},
					 { name: 'ContactName'},
					 { name: 'ContactTitle'},
					 { name: 'Address'},
					 { name: 'City'},
					 { name: 'Country'}
                ],
			    url: 'rest/serverpaging_data.php',
			    root: 'Rows',
                cache: false,
				beforeprocessing: function(data)
				{		
					source.totalrecords = data[0].TotalRows;
				}
            };		
			
		    var dataadapter = new $.jqx.dataAdapter(source);
            // initialize jqxGrid
            $("#jqxgrid").jqxGrid(
            {
                width: '100%',
			    source: dataadapter,
                theme: 'energyblue',
			    autoheight: true,
				pageable: true,
				virtualmode: true,
				rendergridrows: function(obj)
				{
				return obj.data;     
				},
                columns: [
                      { text: 'View', datafield: 'CompanyName' },
                      { text: 'Counter Party', datafield: 'ContactName', width: 200 },
                      { text: 'Ccy Pair', datafield: 'ContactTitle', width: 200 },
                      { text: 'BuySell', datafield: 'Address', width: 180 },
                      { text: 'Deal Details', datafield: 'City', width: 100 },
                      { text: 'Dealer', datafield: 'Country' },
                      { text: 'Status', datafield: '' }
                  ]
            });
        });
    </script>