  <link rel="stylesheet" href="css/price.css">
<a href="#/login"><< Back</a>
<section class="section">
				<div class="section-headlines text-center">
					<h2>MarginIQ Pricing Plan</h2>
					<p>Choose your price plan.</p>
				</div>

				<div class="row-fluid">
					<div class="pricing-table row-fluid text-center">
						<div class="span4">
							<div class="plan">
								<div class="plan-name">
									<h2>Basic</h2>
									<p class="muted">Perfect for small budget</p>
								</div>
								<div class="plan-price">
									<b>$0</b> / month
								</div>
								<div class="plan-details">
									<div>
										<b>Modules:</b> FxSpot
									</div>
									<div>
										<b>Free</b> 30 Days Period
									</div>
									<div>
										<b>Users:</b> 2
									</div>
								</div>
								<div class="plan-action">
									<a href="#/signup/Basic" class="btn btn-block btn-large">Choose Plan</a>
								</div>
							</div>
						</div>

						<div class="span4">
							<div class="plan prefered">
								<div class="plan-name">
									<h2>Standard</h2>
									<p class="muted">Perfect for medium budget</p>
								</div>
								<div class="plan-price">
									<b>$39</b> / month
								</div>
								<div class="plan-details">
									<div>
										<b>Modules:</b> Forex Spot, Forward, Swap
									</div>
									<div>
										<b>Unlimited</b> Warranty
									</div>
									<div>
										<b>Users:</b> 2
									</div>
								</div>
								<div class="plan-action">
									<a href="#/signup/Standard" class="btn btn-success btn-block btn-large">Choose Plan</a>
								</div>
							</div>
						</div>

						<div class="span4">
							<div class="plan">
								<div class="plan-name">
									<h2>Advance</h2>
									<p class="muted">Perfect for large budget</p>
								</div>
								<div class="plan-price">
									<b>$59</b> / month
								</div>
								<div class="plan-details">
									<div>
										<b>Modules</b> Forex Spot,Forward,Swap and Money Markets
									</div>
									<div>
										<b>Unlimited</b> Warranty
									</div>
									<div>
										<b>Users</b> Unlimited
									</div>
								</div>
								<div class="plan-action">
									<a href="#/signup/Advance" class="btn btn-block btn-large">Choose Plan</a>
								</div>
							</div>
						</div>
					</div>
					<p class="muted text-center">Note: You can change or cancel your plan at anytime in your account settings.</p>
				</div>
			</section>