<!-- Main content -->
        <section class="content">
        	<!-- Info boxes -->
          <div class="row">
          	<div class="col-md-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">KENGEN</span>
                  <span class="info-box-number">Address</span>
                  <span class="info-box-text">Tel</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row">
          	<div class="col-md-2">
          		<ul class="nav nav-pills nav-stacked">
				    <li class="active"><a href="#contacts">Contacts</a></li>
				    <li><a href="#users">Users</a></li>
				    <li><a href="#accounts">Accounts</a></li>
				    <li><a href="#settings">Settings</a></li>
				</ul>
				
          	</div>
          	<div class="col-md-10">
          		<div class="tab-content">
					<div id="home" class="tab-pane fade in active">
				      <h3>Contacts</h3>
				      <hr>
				      <p>City Centre</p>
				      <p>xxxx xxx Road, PO Box xxxx, 00200</p>
				      <p>Nairobi, Kenya</p>
				      <p>Tel:</p>
				      <p>Email:</p>
				      <p>Fax:</p>
				    </div>
				    <div id="users" class="tab-pane fade">
				      <h3>Users</h3>
				      <p></p>
				    </div>
				    <div id="accounts" class="tab-pane fade">
				      <h3>Accounts</h3>
				      <p></p>
				    </div>
				    <div id="settings" class="tab-pane fade">
				      <h3>Settings</h3>
				      <p></p>
				    </div>
				</div>
          	</div>
          </div>
       </section>